<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-item color="primary">
      <ion-icon (click)="hideModal()" aria-hidden="true" slot="start" [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'"></ion-icon>
      <ion-title>Items</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="detail">
  <ion-grid [formGroup]="formGroup">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input labelPlacement="floating" type="text" label="Código paquete" formControlName="name" (input)="detectChange($event, 'name', { max: 40 })"/>
        </ion-item>
        <ion-note *ngIf="errors['name'] !== ''" class="error-msg" color="danger">{{errors['name']}}</ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="detail">
    <ion-grid color="dark">
      <ion-row color="dark">
        <ion-col>
          <ion-list color="dark" *ngFor="let category of categories">
            <ion-title *ngIf="items[category].length > 0" color="dark">{{sectionNames[category]}}</ion-title>
            <ion-item color="dark" *ngFor="let item of items[category]">
              <ion-thumbnail slot="start">
                <img *ngIf="item.image" alt="items" src="{{pathImages+item.image}}" />
              </ion-thumbnail>
              <ion-label>
                <h2 style="font-weight: bold;">{{ellipsis(item.name, 20) }}</h2>
                <p class="description">{{ellipsis(item.description, 20)}}</p>
                <h2 class="price">{{item.price | currency:'USD':'symbol':'1.2-2'}}</h2>
                <div class="btn-cart">
                  <button class="minus" (click)="rest(category ,item.id)">-</button>
                  <input (input)="setValue($event, category, item.id)" type="number" value="{{item.quantity}}" class="quantity">
                  <button class="minus" (click)="plus(category, item.id)">+</button>
                </div>
                <ion-icon name="trash-outline" (click)="remove(category, item.id)"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3 class="total">Total: {{getTotal() | currency:'USD':'symbol':'1.2-2'}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="full" (click)="presentAlert()">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
