<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar color="light">
      <ion-item color="light">
        <ion-icon (click)="cancel()" aria-hidden="true" slot="start" [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'"></ion-icon>
        <ion-title>{{formAction}}</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="form" id="chairForm">
    <fieldset>
      <ion-list [formGroup]="formGroup">
        <ion-note color="dark">Selecciona los items que deseas cargar</ion-note>
        <ion-item color="dark">
          <ion-select name="categoryId" labelPlacement="floating" label="Categoría" id="categoryId" formControlName="categoryId" (ionChange)="detectChange($event, 'categoryId', {}, loadSubcategories())">
            <ion-select-option value="">Selecciona la categoría</ion-select-option>
            <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="dark">
          <ion-select name="subcategoryId" labelPlacement="floating" label="Subcategoría" formControlName="subcategoryId" (ionChange)="detectChange($event, 'subcategoryId', {}, loadSection())">
            <ion-select-option value="">Selecciona la categoría</ion-select-option>
            <ion-select-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </fieldset>
    <ion-card *ngIf="canLoadSubcategories().valid && this.items.length > 0" class="card-form" size="full" color="dark">
      <ion-card-header>
        <ion-card-title>{{getSectionName()}}</ion-card-title>
        <ion-card-subtitle>Todos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content color="light">
        <ion-item class="card-item" color="dark" *ngFor="let item of items">
          <ion-thumbnail slot="start">
            <img *ngIf="item.image" alt="items" src="{{pathImages+item.image}}" />
          </ion-thumbnail>
          <ion-label>{{item.name ? item.name: item.type}}</ion-label>
          <ion-label>{{item.price | currency:'USD':'symbol':'1.2-2'}}</ion-label>
          <input class="checkbox-card" type="checkbox" [checked]="checkIfExists(item.id)" (change)="selectItem($event, item)">
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button *ngIf="showBtnNextWindow()" size="full" (click)="showPackage()">
      <ion-label>Ir a detalles</ion-label>
    </ion-button>
    <ion-note *ngIf="errors['request'] !== ''" class="error-msg" color="danger">{{errors['request']}}</ion-note>
  </form>
</ion-content>

