<div class="view">
  <ion-button (click)="showToAdd()" id="open-modal" size="full" color="light">Agregar</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="light">
          <ion-item color="light">
            <ion-icon (click)="cancel()" aria-hidden="true" slot="start" [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'"></ion-icon>
            <ion-title>{{formAction}}</ion-title>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <form #formToSend [formGroup]="formGroup" class="form" id="chairForm">
        <ion-card class="card-form" size="full" color="dark">
          <h3 class="title-form">{{sectionTitle}}</h3>
          <ion-item color="dark">
            <ion-input name="name" label="Nombre" labelPlacement="floating" formControlName="name" (input)="detectChange($event, 'name', {exists: true, max: 40})"></ion-input>
          </ion-item>
          <ion-note *ngIf="errors['name'] !== ''" class="error-msg" color="danger">{{errors['name']}}</ion-note>
          <ion-item color="dark">
            <ion-select label="Estado" formControlName="typeId" labelPlacement="stacked" (ionChange)="detectChange($event, 'typeId')">
              <ion-select-option value="">Seleccionar</ion-select-option>
              <ion-select-option *ngFor="let type of drinkTypes" [value]="type.id">{{type.type}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-note *ngIf="errors['typeId'] !== ''" class="error-msg" color="danger">{{errors['typeId']}}</ion-note>
          <ion-item color="dark">
            <ion-input name="price" type="number" label="Precio" labelPlacement="floating" formControlName="price" (input)="detectChange($event, 'price', 'number')"></ion-input>
          </ion-item>
          <ion-note *ngIf="errors['price'] !== ''" class="error-msg" color="danger">{{errors['price']}}</ion-note>
          <ion-item color="dark">
            <ion-textarea name="description" label="Descripción" labelPlacement="floating" formControlName="description" (input)="detectChange($event, 'description')"></ion-textarea>
          </ion-item>
          <ion-note *ngIf="errors['description'] !== ''" class="error-msg" color="danger">{{errors['description']}}</ion-note>
          <ion-item color="dark" class="mb">
            <input name="image" id="image" type="file" placeholder="imagen" formControlName="image" (change)="loadFile($event)">
          </ion-item>
          <ion-note *ngIf="errors['image'] !== ''" class="error-msg" color="danger">{{errors['image']}}</ion-note>
          <ion-button class="mt" id="present-alert" size="full">Guardar</ion-button>
          <ion-note *ngIf="errors['request'] !== ''" class="error-msg" color="danger">{{errors['request']}}</ion-note>
        </ion-card>
      </form>
      <ion-alert trigger="present-alert" class="custom-alert" [header]="alertHeader" [buttons]="alertButtons"></ion-alert>
    </ng-template>
  </ion-modal>
  <app-table-common
    [theads]="theads"
    [fields]="fields"
    [path]="pathLoad"
    [pathFilter]="pathFilter"
    [images]="images"
    [money]="money"
    [pathImages]="pathImages"
    (prepareFormToUpdate)="showUpdate($event)"
    (prepareToDelete)="showDelete($event)"
  ></app-table-common>
</div>
