<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-item color="primary">
        <ion-icon (click)="goBack()" aria-hidden="true" slot="start" [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'"></ion-icon>
        <ion-title>Recuperar contraseña</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <form class="flex-center login" [formGroup]="formGroup">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input label="Usuario" labelPlacement="floating" formControlName="username" (input)="detectChange($event, 'username')"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" label="Email" labelPlacement="floating" formControlName="email" (input)="detectChange($event, 'email')"></ion-input>
        </ion-item>
        <ion-button color="primary" size="full" id="access">Enviar</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

