<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-item color="primary">
        <ion-icon (click)="goBack()" aria-hidden="true" slot="start" [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'"></ion-icon>
        <ion-title>Recuperar Contraseña</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-card-content class="form-reset">
    <form [formGroup]="formGroup">
      <ion-card-title>Datos de la cuenta</ion-card-title>
      <ion-item>
        <ion-input label="Usuario" labelPlacement="floating" formControlName="username" (input)="detectChange($event, 'username')"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="errors.username !== ''">{{errors.username}}</ion-note>
      <ion-item>
        <ion-input type="email" label="Email" labelPlacement="floating" formControlName="email" (input)="detectChange($event, 'email')"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="errors.email !== ''">{{errors.email}}</ion-note>
      <ion-button color="primary" size="full" id="access" (click)="sendData()">Enviar</ion-button>
    </form>
  </ion-card-content>
</ion-content>

