ion-card-title {
  text-align: center;
}

ion-content {
  --background: rgb(255, 255, 255);
}

.form-reset {
  width: 100%;
  --background: transparent;
  display: flex;
  justify-content: center;
  height: 100%;
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 600px;
    background: transparent;
    ion-card-title {
      width: 100%;
      text-align: center;
      color: var(--ion-color-primary);
    }

    ion-item {
      --background: white;
      --color: black;
    }
  }
}
