<div class="view">
  <ion-button (click)="showToAdd()" id="open-modal" size="full" color="light">Agregar</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="light">
          <ion-item color="light">
            <ion-icon (click)="cancel()" aria-hidden="true" slot="start" [ios]="'arrow-back-outline'" [md]="'arrow-back-sharp'"></ion-icon>
            <ion-title>{{formAction}}</ion-title>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <form #formToSend [formGroup]="formGroup" class="form" id="chairForm">
        <ion-card class="card-form" size="full" color="dark">
          <h3 class="title-form">{{sectionTitle}}</h3>
          <ion-item color="dark">
            <ion-input name="name" label="Nombre" labelPlacement="floating" formControlName="name" (input)="detectChange($event, 'name', { max: 100})"></ion-input>
          </ion-item>
          <ion-note *ngIf="errors['name'] !== ''" class="error-msg" color="danger">{{errors['name']}}</ion-note>
          <ion-item color="dark">
            <ion-input name="email" label="Email" labelPlacement="floating" formControlName="email" (input)="detectChange($event, 'email', { max: 200})"></ion-input>
          </ion-item>
          <ion-note *ngIf="errors['email'] !== ''" class="error-msg" color="danger">{{errors['email']}}</ion-note>
          <ion-item color="dark">
            <ion-input name="telephone" label="Teléfono" labelPlacement="floating" formControlName="telephone" (input)="detectChange($event, 'telephone', { min:10, max: 10})"></ion-input>
          </ion-item>
          <ion-note *ngIf="errors['telephone'] !== ''" class="error-msg" color="danger">{{errors['telephone']}}</ion-note>
          <ion-item color="dark">
            <ion-input name="address" label="Dirección" labelPlacement="floating" formControlName="address" (input)="detectChange($event, 'address', { max: 150})"></ion-input>
          </ion-item>
          <ion-note *ngIf="errors['address'] !== ''" class="error-msg" color="danger">{{errors['address']}}</ion-note>
          <ion-item color="dark">
            <ion-input name="rent" type="number" label="Alquiler" labelPlacement="floating" formControlName="rent" (input)="detectChange($event, 'rent', { max: 15})"></ion-input>
          </ion-item>
          <ion-note *ngIf="errors['rent'] !== ''" class="error-msg" color="danger">{{errors['rent']}}</ion-note>
          <ion-item color="dark" class="mb">
            <input name="image" id="image" type="file" placeholder="imagen" formControlName="image" (change)="loadFile($event)">
          </ion-item>
          <ion-note *ngIf="errors['image'] !== ''" class="error-msg" color="danger">{{errors['image']}}</ion-note>
          <ion-button class="mt" id="present-alert" size="full">Guardar</ion-button>
          <ion-note *ngIf="errors['request'] !== ''" class="error-msg" color="danger">{{errors['request']}}</ion-note>
        </ion-card>
      </form>
      <ion-alert trigger="present-alert" class="custom-alert" [header]="alertHeader" [buttons]="alertButtons"></ion-alert>
    </ng-template>
  </ion-modal>
  <app-table-common
    [theads]="theads"
    [fields]="fields"
    [path]="pathLoad"
    [pathFilter]="pathFilter"
    [images]="images"
    [money]="money"
    [pathImages]="pathImages"
    (prepareFormToUpdate)="showUpdate($event)"
    (prepareToDelete)="showDelete($event)"
  ></app-table-common>
</div>
